# Cmake files
cmake-build-debug/
CMakeLists.txt

# Clion files
.idea/

# CSV files
*.csv

# Visual studio files
optimization/optimization/x64/
optimization/x64/
optimization/.vs/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.json

# Executables
*.exe
*.out
*.app

# Visual Studio specific
*.vsdx
*.suo
.vs/
Browse.VC.db*